@import '../../../styles/servicePage.css';

.activities-card {
  margin-top: 20px;
}

.activities-card .MuiCardContent-root {
  padding: 0 !important;
}

.results-indicator {
  padding: 16px 24px;
  background-color: var(--background-paper);
  border-bottom: 1px solid var(--divider-color);
  margin-bottom: 0;
}


